body{
	background: #343d46;
}

.box{
	margin: 5px auto;
	width: 300px;
	height: 40px;
}

.container-1{
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}
.container-1 input#search{
	width: 300px;
	height: 40px;
	background: #2b303b;
	border: none;
	font-size: 10pt;
	float: left;
	color: #63717f;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;

}
.container-1 input#search::-webkit-input-placeholder {
	color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
	color: #65737e;  
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
	color: #65737e;  
}

.container-1 input#search:-ms-input-placeholder {  
	color: #65737e;  
}
.container-1 .icon{
	position: absolute;
	top: 50%;
	margin-left: 13px;
	margin-top: 11px;
	z-index: 1;
	color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
	outline:none;
	background: #ffffff;
}

img {
	max-width: 100%;
	max-height: 100%;
}
img.fit-view {
	position: fixed;
	height: calc( 100% - 70px);
	width: auto;
	transform: translate(-49%, 0%);
}

.tools {
	position: fixed;
	right: 0px;
	top: 0px;
}

.tools .fa{
	font-size: 35px;
	margin: 12px;
	color: #FFF;
	cursor: pointer;
}

.main_image_wrap {
	position: relative;
    height: 100%;
    width: 100%;
}

.clear {
	clear: both;
}
.more_images {

}
.more_images img {

}

.rside300 {
	width: calc( 100% - 400px );
	width : -webkit-calc( 100% - 400px );
	width :  -moz-calc( 100% - 400px );
	width : -o-calc( 100% - 400px );
}

.image_info_wrap {
    width: 380px;
    right: 0px;
    background-color: #65737E;
    position: fixed;
    top: 50px;
    overflow: auto;
    bottom: 0px;
    padding: 5px;
    box-sizing: border-box;
}
.image_info_wrap .addOption2Image, .image_info_wrap .addOption2Story {
    background-color: #DA7804;
    margin: 2px;
    color: #fff;
    padding: 0px 15px;
    line-height: 22px;
    border-radius: 10px;
    word-break: normal;
    display: inline-block;
}
.addedOption2Image, .addedOption2Story{
	background-color: #0497DA;
    margin: 2px;
    color: #fff;
    padding: 0px 15px;
    line-height: 22px;
    border-radius: 10px;
    word-break: normal;
    display: inline-block;
}

#addCeleb2Image {
	width: 95%;
}

/******bootstrap*****/

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

[pointer][pointer]{
	cursor: pointer!important;
}
.yourlabs-autocomplete {
	background-color: #EFEDED;
}
.autocomplete_box {
    background-color: #FFF;
    min-width: 250px;
    padding-left: 0px;
    box-sizing: border-box;
}
.autocomplete_box .media{
    display: block;
    margin: 1px;
}
.autocomplete_box .media-left{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.autocomplete_box .media-left img{
    width: 50px;
    height: 50px;
}
.autocomplete_box .media-body{
    display: block;
    float: right;
    width: calc( 100% - 55px);
    min-width: 185px;
    height: 50px;
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #fff;
}

.dib {
    display : inline-block;
}
