<!DOCTYPE html>
<html>
<head lang="en">
	<title>
	</title>
</head>

<body class="main">

{foreach $images as $image}
	<a target=_blank href="http://sexyfrenz.eroticpad.com/swim/image/info/temp/hash/mth/{$image.hash}.jpg">
		<img src="{$image.url}" />
	</a>
{/foreach}
<hr>
<a class="navlink" href="{$REMOTE_HOST}/api/picaso/twitter/{$username}?id_str={$older}">OLDER</a>

</body>
</hrml>